---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full sm:w-[538px] lg:w-[948px] py-36">
			<div class="flex flex-row gap-x-5 sm:p-2 mb-5 text-wrap">
				<div class="flex justify-center items-center size-28 sm:size-32"> 
					<img class=" rounded-full" src="./photo2.jpeg" alt="me">
				</div>
				<h1 class=" text-c-light-purple text-3xl sm:text-5xl lg:text-6xl  flex flex-row gap-x-2 items-center font-extrabold ">
					Hi, I'm Jorge Santillan
				</h1>
				<a class="flex justify-center items-center " 
				href="https://www.linkedin.com/in/jorge-santillan-2855322b1/" 
				target="_blank"
				>					
					<Badge>Avaible to Work</Badge>
				</a>
			</div>
			<h2 class=" text-xl sm:text-2xl">
				As a software developer, I am passionate about developing web solutions using best practices. I have experience in developing, designing, and maintaining web applications.
			</h2>
			<ul></ul>
		</section>
	</main>
</Layout>


