---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Github from '../components/icons/Github.astro';
import MailFoward from '../components/icons/MailFoward.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import AnimateBorderPill from '../components/AnimateBorderPill.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<section id="top" class="w-full sm:w-[428px] md:w-[648px] lg:w-[948px] py-28 sm:py-44">
			<div class="flex flex-col items-center sm:flex-row gap-x-5">
				<img class=" rounded-full size-20 my-2" src="./photo2.jpeg" alt="me">
				<h1 class=" text-c-light-purple text-2xl sm:text-3xl md:text-5xl font-extrabold ">
					Hi, I'm Jorge Santillan
				</h1>
				<a class="text-nowrap p-3" 
				href="https://www.linkedin.com/in/jorge-santillan-2855322b1/" 
				target="_blank">	
					<Badge class=" font-semibold text-c-light-purple motion-safe:animate-spin text-sm me-2 px-3.5 py-2.5 rounded text-pretty text-md bg-c-light-blue">
						Avaible for Work
					</Badge>
				</a>
			</div>
			<h2 class=" text-lg sm:text-xl md:text-2xl text-pretty py-5">
				As a software developer, I am passionate about developing web solutions using best practices. I have experience in developing, designing, and maintaining web applications.
			</h2>
			<ul class="flex flex-row gap-x-4 py-4 ">
				<li>
					<SocialPill href="https://www.linkedin.com/in/jorge-santillan-2855322b1/">
						<Linkedin />
						Linkedin
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://github.com/JEstebanSanti">
						<Github />
						Github
					</SocialPill>
				</li>
				<li>
					<SocialPill href="mailto:a20311083@uthermosillo.edu.mx">
						<MailFoward />
						Mail
					</SocialPill>
				</li>
			</ul>
		</section>
		<section id="experience" class="w-full sm:w-[428px] md:w-[648px] lg:w-[948px] py-28">
			<Experience/>
		</section>
		<section id="projects" class="w-full sm:w-[528px] md:w-[748px] lg:w-[948px] py-28" >
			<Projects/>
		</section>
	</main>
</Layout>


