<div class=" w-full flex flex-col flex-wrap">
    <h3 class="text-3xl sm:text-4xl text-pretty py-5 font-semibold">
        About Me
    </h3>    
    <div class=" flex flex-row items-center">
       
        <p class="text-pretty max-w-3xl text-2xl">
            Hello my name is Jorge esteban, I am 28, and I am from Hermosillo Sonora. I am attending the Universidad Tecnologica de Hermosillo. 
            Motivated to finish and get my degree in software engineering.
            I am a nice and friendly person and enthusiastic about software, I like to watch English YouTubers, play chill video games and listen music. 
        </p>
        <img class=" w-40 max-h-60 m-4 rounded-xl object-fill p-2" src="./aboutmeme.webp" alt="myself">
    </div>
</div>
