---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "2023-2024",
        title: "Mentor/Tutor",
        desc: "I offered one-on-one tutoring on a wide range of topics related to academic projects and assignments, including databases, version control with Git, web development with PHP using the Laravel framework, configuring operating systems in virtual machine environments, and deploying infrastructure using Docker containers. My goal is to provide expert and accessible guidance to help students understand and master these key concepts, thus fostering their academic and professional success"

    },
 
]
---
<h3 class="text-3xl sm:text-4xl text-pretty mb-5 font-semibold">Experience</h3>
{
   EXPERIENCE.map((exp,index) => (
    <div class="border-l-4 relative bg-c-light-blue/25 p-8 rounded-sm mb-5">
            <div class="w-full flex flex-col">
				<ExperienceItem {...exp} {index}/>
			</div>
    </div>
   ))
}
