<footer class="w-full bg-cbg-dark py-28 flex justify-center">
    <nav class=" flex flex-col gap-y-5 sm:flex-row sm:gap-x-5 ">
        <a href="">Linkedin</a>
        <a href="">Github</a>
        <a href="">e-Mail me</a>
    </nav>
</footer>