<header class=" dark:bg-cbg-dark sm:w-[428px] md:w-[648px] lg:w-[948px] flex justify-center sm:justify-between items-center py-3 ">
    <a href="/" class="flex flex-col justify-center sm:flex-row items-center sm:gap-2">
        <img 
        class=" size-10 sm:size-4 rounded-sm"
        src="/logo-100px.jpg" 
        alt="logo"
        >
        <span class="collapse md:visible self-center text-md font-semibold whitespace-nowrap dark:text-white">Portfolio</span>
    </a>   
    <nav class="flex flex-row gap-x-2 text-md items-center sm:gap-x-4 font-medium">    
        <a class="hover:text-c-light-purple" href="#top">home</a>
        <a class="hover:text-c-light-purple" href="#experience">experience</a>
        <a class="hover:text-c-light-purple" href="#projects">projects</a>
        <a class="hover:text-c-light-purple" href="#about">about me</a>
    </nav>
</header>