<header class=" dark:cbg-dark w-full sm:w-[538px] lg:w-[948px] flex justify-arround sm:justify-between items-center py-3 px-2 sm:p-1">
    <a href="" class="flex flex-col-reverse sm:flex-row sm:gap-2 lg:flex-row">
        <img 
        class=" size-12 rounded-sm"
        src="/logo-100px.jpg" 
        alt="logo"
        >
        <span class="collapse sm:visible self-center text-md font-semibold whitespace-nowrap dark:text-white">Portfolio</span>
    </a>   
    <nav class="flex flex-row gap-x-2 items-center sm:gap-x-6">    
        <a href="#">home</a>
        <a href="#">experience</a>
        <a href="#">projects</a>
        <a href="#">about me</a>
    </nav>
</header>