<header class=" dark:bg-slate-950">   
    <nav class="flex flex-wrap justify-between gap-x-10">    
        <a href="">
            <img 
            class=" size-12 rounded-sm"
            src="/logo-100px.jpg" 
            alt="logo"
            >
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Portfolio</span>
        </a>
        </a>
        <a href="#">home</a>
        <a href="#">experience</a>
        <a href="#">projects</a>
        <a href="#">about me</a>
    </nav>
</header>