---
import Badge from "./Badge.astro"
import SocialPill from "./SocialPill.astro"
import Github from "./icons/Github.astro"
import Site from "./icons/Site.astro"

    interface Project  {
        title: string,
        desc: string,
        repo: string,
        images: string[],
        tags: string[],
    }
    const project = Astro.props
---

<div class="w-full">
    <img class="rounded-xl object-fill  p-2" src=`${ project.images[0] }` alt=`${ project.title + " image" }` >
</div>
<div class="p-2">
    <h1 class=" text-2xl font-bold p-1">{project.title}</h1>
    <p class=" text-pretty text-lg sm:text-xl">{project.desc}</p>
</div>
<div class="flex sm:gap-x-4 px-2">
{
    project.tags.map( (tag: Project) =>(
        <Badge class=" bg-c-light-purple/20 dark:bg-c-light-purple text-sm me-2 px-1.5 sm:px-2.5 py-0.5 rounded ">{ tag }</Badge>
    ))
}
</div>
<div class="flex flex-row py-3 gap-x-4 px-2 ">
    {
        <SocialPill href={project.repo} > 
                <Github/>
                Github
        </SocialPill>
        <SocialPill href={project.site} > 
                <Site />
                Site
        </SocialPill>
    }
   
</div>