---
import ProjectItem from "./ProjectItem.astro"
const PROJECTS = [
    {
        title:"GifExper API",
        desc:"Application with React Javascript vanilla and Tailwind: You can search your favorite gifs.",
        repo:"https://github.com/JEstebanSanti/react-learn/tree/gifExpertAPI",
        site:"https://unique-sable-8fb88f.netlify.app/",
        images:[
            "./newGiffxpert.png",
            

        ],
        tags:[
            "React",
            "Vite",
            "Javascript vanilla",
            "Tailwind css",
            "API",
        ],
    }, {
        title:"courses-app",
        desc:"Application with Laravel React and Tailwind using PostgreSql: My main goal was do a course application that you get courses and create courses.",
        repo:"https://github.com/JEstebanSanti/courses-app",
        images:[
            "./course-2.png",
            "./course-3.png",

        ],
        tags:[
            "React",
            "Vite",
            "Javascript vanilla",
            "Tailwind css",
            "Laravel",
            "php",
            "PostgreSql"
        ],
    },
]
---
<h3 class=" text-3xl sm:text-4xl text-pretty py-5 font-semibold">Projects</h3>
{
    PROJECTS.map(project => (
        <div class="w-full">        
            <ProjectItem {...project}/>
        </div>
    ))
}